/* app/index.css */
/* match those in gridlex */
html {
    box-sizing: border-box
}
*,
*:before,
*:after {
    box-sizing: border-box
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "sans serif"
}
html {
    font-size: 100%
}
@media screen and (min-width: 64em) {
    html {
        font-size: 137.5%
    }
}
body {
    position: relative;
    color: #dacfcf;
    background: #1b1917
}
a {
    color: #a90404
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 2rem 0 0
}
p {
    margin: 1em 0 0
}
h1 {
    font-size: 2.5rem
}
@media screen and (min-width: 64em) {
    h1 {
        font-size: 3.242rem
    }
}
h2 {
    font-size: 2rem
}
@media screen and (min-width: 64em) {
    h2 {
        font-size: 2.28rem
    }
}
abbr {
    border-bottom: 1px dotted #fff;
    cursor: help
}
pre {
    max-width: 100%;
    overflow: auto
}
/* app/modules/header.css */
.mc6a5cb6b0_logo {
    fill: #dacfcf
}
.mc6a5cb6b0_h1 {
    margin: 0
}
/* app/pages/post.css */
.mccbf490de_container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%
}
@media screen and (min-width: m) {
    .mccbf490de_container {
        padding: 0 2%
    }
}
@media screen and (min-width: l) {
    .mccbf490de_container {
        padding: 0 20px
    }
}
.mccbf490de_title {
    margin: 0
}
.mccbf490de_nav {
    list-style: none;
    margin: 4em 0;
    padding: 0
}
.mccbf490de_navItem0 {
    margin: 0;
    padding: 0
}
.mccbf490de_navItem1 {
    text-align: right
}
.mccbf490de_navLink {
    text-transform: uppercase;
    text-decoration: none
}
.mccbf490de_navLink:hover {
    text-decoration: underline
}
/* app/pages/home.css */
.mc7e603aff_grid {
    height: 100%;
    margin: 0
}
.mc7e603aff_cell {
    padding: 0;
    text-align: center
}
.mc7e603aff_continue {
    display: block;
    margin-top: -10%;
    text-decoration: none
}
@media screen and (min-width: lg) {
    .mc7e603aff_continue {
        margin-top: -3em
    }
}
.mc7e603aff_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%)
}