@value l from "../index.css";

.grid {
    composes: global(grid-middle);

    height: 100%;
    margin: 0;
}

.cell {
    composes: global(col);

    padding: 0;

    text-align: center;
}

.continue {
    display: block;
    margin-top: -2.2em;
    font-size: 3.6vw;

    text-decoration: none;

}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}
